body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #65b3a5;
  }
  
  .calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .display {
    background-color: #428560;
    padding: 10px;
    border-radius: 5px;
    text-align: right;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #44698e;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  .operator {
    background-color: #489495;
  }
  footer{
    text-align: end;
  }